/logs/
/output/
/playlists/
/playlists
/static/
/osuawa/*.dll
/osuawa/*.jpg
/osuawa/*.ttf
/osu-tools/
/.venv/
/.streamlit/*.key
/.streamlit/*.pem
/.streamlit/.oauth/
/.streamlit/.components/
/.streamlit/secrets.toml
/.streamlit/user_cache.json
/.agents
/.codewhale
/*ModsEntries.json
__pycache__/
qodana.yaml
osuawa.db
*LCK
tmp.py
