/logs/
/output/
/playlists/
/playlists
/static/beatmaps/
/static/uploaded/
/osuawa/*.dll
/osuawa/*.jpg
/osuawa/*.ttf
/osu-tools/
/.venv/
/.streamlit/private.key
/.streamlit/full_chain.pem
/.streamlit/*.pickle
/.streamlit/secrets.toml
qodana.yaml
