clayutil @ git+https://github.com/bobbycyl/ClayUtilities.git
osupp @ git+https://github.com/bobbycyl/osupp.git
SQLAlchemy
babel
fonttools
matplotlib
numpy
orjson
ossapi[async]
pandas
pillow
plotly
psycopg2-binary
py7zr
pymysql
redis
schedule
scipy
slider
statsmodels
streamlit
streamlit-aggrid
tabulate
websockets
zai-sdk