clayutil @ git+https://github.com/bobbycyl/ClayUtilities.git
osupp @ git+https://github.com/bobbycyl/osupp.git
babel
fonttools
matplotlib
numpy
orjson
ossapi[async]
pandas
pillow
plotly
py7zr
scipy
slider
statsmodels
streamlit
websockets
