clayutil @ git+https://github.com/bobbycyl/ClayUtilities.git
osupp @ git+https://github.com/bobbycyl/osupp.git
babel
fonttools
matplotlib
numpy
orjson
ossapi[async]
pandas
pillow
plotly
psycopg2-binary
py7zr
SQLAlchemy
scipy
slider
statsmodels
streamlit
streamlit-aggrid
websockets
