section[data-testid="stSidebar"] {
    display: none !important;
}

.stMainBlockContainer {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 0 !important;
    max-width: 100% !important;
}

div.stAgGrid {
    height: 100vh !important;
}

header[data-testid="stHeader"] {
    display: none !important;
}
